<div class="aside__elem note note--about js-about-dropdown">
        <div class="note__header">
            <h3 class="note__title">
                About
            </h3>
            <svg class="note__icon js-about-close">
                <use xlink:href="dist/img/sprite.svg#icon-arrow"></use>
            </svg>
        </div>
        <div class="note__body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id tempor libero. Etiam condimentum maximus neque ut interdum. Donec bibendum commodo lectus at fermentum. Integer lectus justo, dignissim in tempus quis, interdum sed dolor. Maecenas tristique scelerisque dolor quis tincidunt.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id tempor libero. Etiam condimentum maximus neque ut interdum. Donec bibendum commodo lectus at fermentum. Integer lectus justo, dignissim in tempus quis, interdum sed dolor.
        </div>
    </div>

    <div class="aside__elem note note--info js-info-dropdown">
        <div class="note__header">
            <h3 class="note__title">
                Some information
            </h3>
            <svg class="note__icon js-info-close">
                <use xlink:href="dist/img/sprite.svg#icon-arrow"></use>
            </svg>
        </div>
        <div class="note__body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id tempor libero. Etiam condimentum maximus neque ut interdum. Donec bibendum commodo lectus at fermentum. Integer lectus justo, dignissim in tempus quis, interdum sed dolor. Maecenas tristique scelerisque dolor quis tincidunt.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id tempor libero. Etiam condimentum maximus neque ut interdum. Donec bibendum commodo lectus at fermentum. Integer lectus justo, dignissim in tempus quis, interdum sed dolor.
        </div>
    </div>

    <div class="aside__elem note note--tags js-tags-dropdown">
        <div class="note__header">
            <h3 class="note__title">
            </h3>
            <svg class="note__icon js-tags-close">
                <use xlink:href="dist/img/sprite.svg#icon-arrow"></use>
            </svg>
        </div>
        <div class="note__body">
            <tags-list class="tag-block"></tags-list>
        </div>
    </div>
